# Ignore everything by default
*

# Keep repository metadata files
!.gitignore
!README.md
!README.en.md
!preview.md
!preview-showcase.md
!LICENSE

# Keep project files
!assets/
assets/*
!assets/README.md
!assets/*.png
!snippets/
snippets/*
!snippets/minimal-document.css
