# Ignore everything by default
*

# Keep repository metadata files
!.gitignore
!README.md
!README.en.md
!preview.md
!LICENSE

# Keep project files
!snippets/
snippets/*
!snippets/minimal-document.css
